{{page-title "Index"}}
<h3>
    Total Number of Issues : {{this.countOfIssue}}
</h3>
<table class="issuesTable">
    <tr>
        <th>Description</th>
        <th>Severity</th>
        <th>Status</th>
    </tr>
    {{#each this.model as |issue|}}
        <Issues::IssueList @openIssue={{this.openIssue}} @id={{issue.id}} @issue={{issue}} />
    {{/each}}
</table>
<LinkTo @route="issues.add-issue">
    <button class="addBtn" type="button">Add Issue</button>
</LinkTo>